* {
  font-family: 'Roboto', sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

#root {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.app {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 17vw;
}

button[type="button"] {
  border-radius: 5px;
  background-color: rgb(0, 119, 255);
  color: white;
  padding: 0.5em 0.9em;
  outline: rgb(0, 119, 255) 5%;
  border: none;
  margin-right: 5px;
  margin-bottom: 0.5rem;
  min-width: 5vw;
}

.customer-list {
  font-weight: 2rem;
  border: 1px solid black;
  padding: 1.2rem;
}

h3 {
  border: 1px solid black;
  text-align: center;
  padding: 1rem;
}